@import "../../../node_modules/ng2-slim-loading-bar/style.css";

@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot');src:url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff') format('woff'),url('../fonts/fontawesome-webfont.ttf') format('truetype'),url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

html, body {
  font-family: 'Ubuntu', sans-serif;
}

/* Nadpisz Bootstrap
================================================== */
.table .form-control {
  padding: 0.275rem 0.75rem;
  font-size: 0.9rem;
  border-radius: 0;
  margin:10px 0
}
.table th, .table td {
  vertical-align: middle;
}
.table-sm th, .table-sm td {
  padding: 0.3rem 0.9rem;
}
.ngx-pagination {
  margin-left: 0;
  margin-bottom: 0 !important;
  padding: 0;
  text-align: right;
}

/* Kalendarz
================================================== */
.fc-event {cursor: pointer}
.fc-title {
  color: white;
  font-size: 12px;
}
.fc-event {
  border-radius: 0;
  padding: 1px 6px;
}
.card a:not([href]):not([tabindex]) {
  color: white;
  cursor: pointer;
}

.fc-event {padding: 3px 6px;border-color:white}
.fc-event.status_1 {background: #309100}
.fc-event.status_3 {background: #c00f0f}

.fc-title {
  font-size: 14px;
}
.fc-title:before {font-family:'FontAwesome';margin-right:5px}
.typ_1 .fc-title:before {content:"\f095"}
.typ_2 .fc-title:before {content:"\f2b5"}
.typ_3 .fc-title:before {content:"\f017"}
.typ_4 .fc-title:before {content:"\f073"}
.typ_5 .fc-title:before {content:"\f0e0"}
.typ_6 .fc-title:before {content:"\f0f5"}

.form-group .text-danger {
  font-size: 11px;
}
button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=) !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;

}
.ng-invalid {border-color:red}
