@import "../../../node_modules/ng2-slim-loading-bar/style.css";

html, body {
  font-family: 'Ubuntu', sans-serif;
}

/* Nadpisz Bootstrap
================================================== */
.table .form-control {
  padding: 0.275rem 0.75rem;
  font-size: 0.9rem;
  border-radius: 0;
  margin:10px 0
}
.table th, .table td {
  vertical-align: middle;
}
.table-sm th, .table-sm td {
  padding: 0.3rem 0.9rem;
}
.ngx-pagination {
  margin-left: 0;
  margin-bottom: 0 !important;
  padding: 0;
  text-align: right;
}

/* Kalendarz
================================================== */
.fc-event {cursor: pointer}
